# Ignore config files but NOT .gitkeep.
config/*
!config/.gitkeep

# Ignore errors thrown by npm.
npm-debug.log

# Ignore node modules.
node_modules

# Ignore Next.js specific files.
# https://github.com/zeit/next.js#production-deployment
.next

# Ignore htpasswd
htpasswd

# Ignore build file.
deploy/build.zip

# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
